/public/hot
/public/js/bundle
/public/images/vendor
/public/js/main.js
/node_modules
/public/documentation
/public/storage
/storage/logs
/storage/framework/sessions
/public/images/products
/vendor
*.zip
.env
.env.backup
composer.lock
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
#zip -r supermarket.zip . -x "./resources/src/*"  "./.git/*" "*.zip" "./.idea/*"