#/public/hot
#/public/js/bundle
#/public/images/vendor
#/public/js/main.js
/node_modules
/public/documentation
/public/storage
/storage/logs
/storage/framework/sessions/*
#/public/images/products
/vendor
/.idea
*.zip
.env
.env.backup
composer.lock
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
#rm app.zip && zip -r pos.zip . -x "./resources/src/*"  "./.git/*" "*.zip" "./.idea/*" "./node_modules/*"  "./public/images/products/*" "*/.git/*" "*/vendor/*"  "*/.DS_Store/*"  "*/node_modules/*" "*/.idea/*"
#rm app.zip && zip -r pos.zip . -x   "*/.git/*" "*/vendor/*"  "*/.DS_Store/*"  "*/node_modules/*" "*/.idea/*"
#rsync -arvz -e 'ssh -p 242'  --progress  public/js  walter@194.233.166.164:/var/www/pos/public/js
#export NODE_OPTIONS="--max-old-space-size=5120"

#php artisan optimize:clear

#docker exec -i 746d9235d769 mysql -uroot -proot latest < backup.sql

# git stash save "add style to our site"
# git stash list
# git stash pop stash@{2}


# sudo a2dismod php8.3
# sudo a2dismod php8.2
# sudo a2enmod php7.4